<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />

<body>

<div th:replace="common/navbar :: common-navbar" />

<!-- Main Jumbotron
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="text-center" th:text="#{copy.h1.text}"></h1>
                <p class="lead" th:text="#{copy.p.lead}"></p>
            </div>
        </div>
    </div>

</div><!-- ./container -->

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4 span4">
            <a href="https://www.linkedin.com/in/arnoldgraaff/?ppe=1">
                <img class="img-circle"
                     src="http://en.gravatar.com/userimage/23749898/c272dc81161dcf9f1162654f3971e153.jpg?size=200"
                     alt="Claude Renney" width="140" height="140" />
            </a>
            <h2>Arnold Graaff <small class="member-title">Lecturer</small></h2>
            <div class="span4 collapse-group">
                <p class="collapse text-justify" th:text="#{copy.project.lead.intro}"></p>
                <p><a class="btn btn-primary btn-collapse" href="#" role="button" th:text="#{copy.viewdetails.button}"></a></p>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 span4">
            <a href="https://www.linkedin.com/in/claude-renney-077843148/">
                <img class="img-circle"
                     src="http://en.gravatar.com/userimage/23749898/c272dc81161dcf9f1162654f3971e153.jpg?size=200"
                     alt="Claude Renney" width="140" height="140" />
            </a>
            <h2>Claude Renney <small class="member-title">Project Lead</small></h2>
            <div class="span4 collapse-group">
                <p class="collapse text-justify" th:text="#{copy.project.lead.intro}"></p>
                <p><a class="btn btn-primary btn-collapse" href="#" role="button" th:text="#{copy.viewdetails.button}"></a></p>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 span4" >
            <a href="https://uk.linkedin.com/in/mtedone">
                <img class="img-circle"
                     src="http://en.gravatar.com/userimage/23749898/c272dc81161dcf9f1162654f3971e153.jpg?size=200"
                     alt="Marco Tedone" width="140" height="140" />
            </a>
            <h2>KB Borole<small class="member-title">Fellow Student</small></h2>
            <div class="span4 collapse-group">
                <p class="collapse text-justify" th:text="#{copy.project.lead.intro}"></p>
                <p><a class="btn btn-primary btn-collapse" href="#" role="button" th:text="#{copy.viewdetails.button}"></a></p>
            </div>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- START THE FEATURES -->

    <hr class="featurette-divider" />

    <div class="featurette">
        <img class="featurette-image pull-right" th:src="@{/images/java.png}" />
        <h2 class="featurette-heading">JAVA <span class="muted"></span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider" />

    <div class="featurette">
        <img class="featurette-image pull-left" th:src="@{/images/spring.png}" />
        <h2 class="featurette-heading">Spring<span class="muted"></span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider" />

    <div class="featurette">
        <img class="featurette-image pull-right" th:src="@{/images/MySQL.png}" />
        <h2 class="featurette-heading">MYSQL <span class="muted"></span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider" />

    <div class="featurette">
        <img class="featurette-image pull-left" th:src="@{/images/aws.png}" />
        <h2 class="featurette-heading">Amazon Web Services <span class="muted"></span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider" />
    <div class="featurette">
        <img class="featurette-image pull-right" th:src="@{/images/git.png}" />
        <h2 class="featurette-heading">Git <span class="muted"></span></h2>
        <p class="lead">Version Control is such a great tool especially when the project becomes quite big or there's more than one developer
            working on different features. I love
        being able to backtrack or reverse changes to my application. On this project i mostly used Feature Branch WorkFlow
        but have a working knowledge on Centralised and GitFlow workflow</p>
    </div>
    <hr class="featurette-divider" />

    <div class="featurette">
        <img class="featurette-image pull-left" th:src="@{/images/centos.png}" />
        <h2 class="featurette-heading">Linux<span class="muted"></span></h2>
        <p class="lead">Even though i have a good knowledge of Windows and how to configure and deploy applications on Windows my favourite operating system is Linux
        I am currently using Centos 7(used debian based linux in the past) for all my coding projects and i have a good working knowledge of the linux command line
            and overall architecture.
         </p>
    </div>

    <hr class="featurette-divider" />
    <div class="featurette">
        <img class="featurette-image pull-right" th:src="@{/images/idea.png}" />
        <h2 class="featurette-heading">Intellij IDEA <span class="muted"></span></h2>
        <p class="lead">My favourite IDE especially for developing Spring Boot applications and using Git Workflow
        but i have done quite a few projects in Eclipse and NetBeans. I also quite like working from a normal
        editor like VIM or Notepad++ and compiling apps through the terminal but only if its microservices that doesn't
            require too many dependencies.</p>
    </div>



    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
        <p>&copy; codecollege.co.za<a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: before-body-scripts" />

</body>
</html>